---
import BaseLayout from '../../layouts/baselayout.astro';


---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Our Business Services</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	</head>
<BaseLayout>
    <div class="container mx-auto px-4 py-16">
        
        <div class="bg-white rounded-lgp-8">
            <h1 class="text-4xl font-bold m-8 text-center"> Lead Abatement</h1>
            <!-- <h2 class="text-2xl font-semibold mb-4">Our Project Management Services</h2> -->
            <p class="text-gray-700 mb-6">
                Lead abatement is the process of removing lead from a building or other facility. The process can involve:
            </p>
            <ul class="list-disc ml-6 mb-6 space-y-2">
                <li>Encapsulation
                    Covering and sealing lead paint with a special coating. This is generally safer for workers than removing the paint. 
                </li>
                <li>Enclosure
                    Covering lead paint with a wall covering or other solid, dust-tight barrier. This is often used for large surfaces like walls.
                </li>
                <li>Paint removal
                    Completely removing the lead paint. This should be done by a certified professional because it creates lead dust. 
                    </li>
                <li>Replacement
                    Removing and replacing any components that are painted with lead, such as doors, windows, or molding.</li>
                <li class="text-bold">Interim control activities, Environmental clean, and Stabilizing deteriorated paint. 
                </li>
                <!-- add certifications needed (needed) -->
                
       
            </ul>
            
            <div class="mt-8 text-center pt-6">
                <a href="/contact" class="bg-yellow-600 text-white px-6 py-3 rounded-lg hover:bg-yellow-700 transition duration-300">
                    Contact us for Lead Abatement
                </a>
            </div>
        </div>
    </div>
</BaseLayout> 
<html />