---
import BaseLayout from '../../layouts/baselayout.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Our Business Services</title>
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	</head>
<BaseLayout>
    <div class="container mx-auto px-4 py-16">
        
        <div class="bg-white rounded-lgp-8">
            <h1 class="text-4xl font-bold m-8 text-center"> Mold Remediation</h1>
            <!-- <h2 class="text-2xl font-semibold mb-4">Our Project Management Services</h2> -->
            <p class="text-gray-700 mb-6">
                We offer comprehensive mold remediation solutions to ensure your projects are delivered on time and within budget. Our experienced team handles:
            </p>
            <ul class="list-disc ml-6 mb-6 space-y-2">
                <li>Identify and fix the water problem: The first step is to find and fix the water issue that caused the mold. 
                </li>
                <li>Seal off the area: Use plastic sheeting and tape to seal off the affected area from the rest of the house. 
                </li>
                <li>Remove damaged materials: Throw away porous materials like carpet and ceiling tiles if they are moldy.</li>
                <li>Clean: Scrub mold off hard surfaces with detergent and water, and dry completely</li>
                <li>Replace damaged materials: Replace any damaged materials. 
                </li>
       
            </ul>
            
            <div class="mt-8 text-center pt-6">
                <a href="/contact" class="bg-yellow-600 text-white px-6 py-3 rounded-lg hover:bg-yellow-700 transition duration-300">
                    Contact us for Mold Remediation
                </a>
            </div>
        </div>
    </div>
</BaseLayout> 
<html />